<ion-header>
    <ion-toolbar></ion-toolbar>
    <ion-toolbar>
        <ion-label>
            {{ event().address }}
        </ion-label>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="map-container">
        <ol-map [coordinates]="coordinates()">
            <ol-marker [coordinates]="coordinates()"></ol-marker>
        </ol-map>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="navigate-sharp"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>