<ion-header>
    <ion-toolbar color="primary">
        <div class="toolbar-content">
            <ion-title>Events</ion-title>

            <ion-button (click)="toggleSearch()">
                <ion-icon [name]="searchVisible() ? 'close-sharp' : 'search-sharp'"></ion-icon>
            </ion-button>

            @if (searchVisible()) {
            <ng-container>
                <ion-searchbar [formControl]="searchControl" class="animated-searchbar"></ion-searchbar>
            </ng-container>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="orderBy('distance')">Order by Distance</ion-button>
                    <ion-button (click)="orderBy('date')">Order by Date</ion-button>
                    <ion-button (click)="orderBy('price')">Order by Price</ion-button>
                </ion-buttons>
            </ion-toolbar>
            }
        </div>
    </ion-toolbar>
</ion-header>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" [routerLink]="['/events/add']" [routerDirection]="'root'">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-content [fullscreen]="true">
    <ion-refresher #refresher slot="fixed" (ionRefresh)="doRefresh()">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-grid class="mb-4 mt-4">
        <ion-row>
            @if (events().length) {
            @for (event of events(); track event.id) {
            <ion-col size="12" size-md="6" size-xl="4">
                <app-event-card [event]="event" (deleted)="deleteEvent(event)"></app-event-card>
            </ion-col>
            }
            }
        </ion-row>
    </ion-grid>

    <ion-infinite-scroll #infinite (ionInfinite)="loadMore()" [disabled]="!eventsLeft()">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>