<ion-col>
    <ion-card class="card h-100 shadow-lg event-card">
        <a [routerLink]="['/events', event().id]">
            <img class="card-img-top" [src]="event().image" height="200px" alt="" />
        </a>
        <ion-card-header class="card-body">
            <ion-card-title class="card-title">
                <a [routerLink]="['/events', event().id]">
                    {{ event().title }}
                </a>
            </ion-card-title>
            <p class="card-text">{{ event().description }}</p>

        </ion-card-header>
        <ion-card-content>
            @if (event().mine) {
            <ion-button (click)="deleteEvent()" class="btn btn-danger delete">delete</ion-button>
            <a [routerLink]="['/events', event().id, 'edit']">
                <ion-button class="btn btn-success edit"><i class="bi bi-pencil-fill"></i></ion-button>
            </a>

            }
            <ion-grid class="mb-4 mt-4">
                <ion-row>
                    <ion-col class="creator-info d-flex align-items-center w-100">
                        <div class="avatar">
                            <a [routerLink]="event().mine ? ['/profile'] : ['/profile', event().creator.id]">
                                <img [src]="event().creator.avatar" height="50px" class="rounded-circle"
                                    [alt]="event().creator.name" />
                            </a>
                        </div>
                        <div class="ion-padding-start">
                            <ion-row class="name">
                                <a [routerLink]="event().mine ? ['/profile'] : ['/profile', event().creator.id]">{{
                                    event().creator.name }}</a>
                            </ion-row>
                            <ion-row class="date small text-muted">
                                <ion-icon name="calendar-outline"></ion-icon> {{ event().date | date : "dd/MM/yyyy" }}
                            </ion-row>
                        </div>
                    </ion-col>
                    <ion-col size="auto" class="event-details ms-auto text-start text-sm-end">
                        <div class="price small">
                            <ion-icon name="cash-outline"></ion-icon> {{ event().price | price: "EUR" : "es-ES" }}
                        </div>
                        <div class="distance small">
                            <ion-icon name="location-outline"></ion-icon> {{ event().distance | distance }}
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-col>